  <div class="container mt-3">
    <div class="row">
      <div class="col-sm-8 offset-sm-2">
       <article class="article-container">
        <h1>
          <%= @article.title %>
          <i class="fa fa-pencil fa-sm"></i>
          <i class="fa fa-trash-o"></i>
        </h1>
        <p class="article-content"><%= @article.content %></p>
        <hr>
       </article>
    </div>
  </div>
